.Navbar-mobile{
    width: 0px;
    overflow: hidden;
    transition:  width 0.5s ease;
}
.Navbar-mobile.show{
    width: 500px;
}
@media (min-width: 768px) {
    .Navbar-mobile{
        display: none;
    }
}